@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

  --color-brand-cream: #FDFBF7;
  --color-brand-beige: #F5F0E6;
  --color-brand-gold: #C5A880;
  --color-brand-gold-dark: #A88A62;
  --color-brand-dark: #1A1A1A;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-brand-cream);
    color: var(--color-brand-dark);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.lux-shadow {
  box-shadow: 0 10px 40px -10px rgba(0,0,0,0.05);
}
